<% if user_signed_in? == false %>
  <div class="row">
    <div class="col-md-6">
      <h2>Sign up</h2>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>
        <%= hidden_field_tag 'user[password]', :emailtesting  %>
        <%= hidden_field_tag 'user[password_confirmation]', :emailtesting  %>

        <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>Sign In</h2>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %></br>
        <%= f.password_field :password %></br>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %></br>
        <%= f.submit 'Sign in' %></br>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
<% @transactions.each do |rented| %>
  <%= render "rented", :rented => rented %>
<% end %>
  <div class="row">
    <div class="col-md-6">
      <%= form_for(@transaction) do |f| %>
        <div class="field">
          <%= f.label :user_id %>
          <%= f.select(:user_id, options_from_collection_for_select(User.all, :id, :email)) %>
        </div>
        <div class="field">
          <%= f.label :equipment_id %>
          <%= f.select(:equipment_id, options_from_collection_for_select(@rentable, :id, :name)) %>
        </div>
        <% if(@transaction.rented_datetime == nil)%>
          <%= hidden_field_tag 'transaction[rented_datetime]', Time.now  %>
        <% end %>
        <% if(@transaction.rented_datetime != nil)%>
          <%= hidden_field_tag 'transaction[returned_datetime]', Time.now  %>
        <% end %>
        <div class="field">
          <%= f.label :contract %>
          <%= f.text_field :contract %>
        </div>
          <%#= hidden_field_tag rented_datetime, Time.now  %>
        <div class="actions">
        <% if(@transaction.rented_datetime == nil)%>
          <%= f.submit "rent"%>
        <% else %>
          <%= f.submit "return"%>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
